@use 'mixin' as m;

html {
    font-size: 100%;
}

body {
    font-family: "Noto Serif JP", serif;
    background-color: #f8f5f0;
    position: relative;
}

a {
    display: inline-block;
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

* {
    // border: 1px solid red;
}



.container {
    max-width: 1150px;
    margin-inline: auto;

}