@use 'mixin' as m;

header {
    height: 80px;
    width: 100%;
    background-color: #4b6042;
    position: relative;

    @include m.tab {
        display: flex;
        // justify-content: space-between;
    }

    .header-contents {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        padding-inline: 3%;

        @include m.tab {
            width: 100%;
            position: relative;

        }
    }

    .header-title {

        @include m.tab {
            text-align: right;
        }

        a {
            font-family: "Zen Antique Soft", serif;
            font-size: 32px;
            transition: all 0.5s;


        }

        a:hover {
            opacity: 0.7;
        }



    }

    .header-list {
        display: flex;
        flex-direction: row;
        font-size: 24px;
        gap: 24px;

        a {
            font-weight: bold;
            transition: all 0.5s;
        }

        a:hover {
            color: #C8D3BC;
        }

        @include m.tab {
            padding-top: 100px;
            padding-left: 60px;
            position: fixed;
            top: 0;
            left: 0;
            width: 300px;
            height: 100vh;
            transform: translateX(-100%);
            transition: all 0.5s;
            z-index: 90;
            background-color: #4b6043;
            flex-direction: column;
        }
    }

    a {
        color: #faf8f4;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

}

.mask {
    display: none;
}


.toggle-btn {
    display: none;

    @include m.tab {
        padding: 3%;
        display: block;
        width: 50px;
        height: 50px;
        position: relative;
        transition: all 0.5s;
        cursor: pointer;
        z-index: 100;

        span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: #faf8f4;
            transition: all 0.5s;
            position: absolute;

            &:nth-child(1) {
                top: 25%;
            }

            &:nth-child(2) {
                top: 50%;
            }

            &:nth-child(3) {
                top: 75%;
            }
        }
    }


}

//openクラス
.open .header-list {
    transform: translateX(0%);
}

.open .mask {
    display: block;
    background-color: #000;
    opacity: 0.8;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.open .toggle-btn span:nth-child(1) {
    transform: rotate(-45deg);
    top: 50%;
    background-color: white;
}


.open .toggle-btn span:nth-child(2) {
    transform: rotate(45deg);
    background-color: white;
}


.open .toggle-btn span:nth-child(3) {
    transform: rotate(45deg);
    top: 50%;
    background-color: white;
}