@use 'mixin' as m;

.res-wrapper {
    max-width: 1000px;
    margin-inline: auto;
}

.reservation {
    margin-top: 200px;
    margin-bottom: 80px;

    h2 {
        margin-bottom: 100px;
        font-size: 32px;
        font-weight: bold;
    }

    &-contents {
        background-color: #faf8f4;
        border-radius: 20px;
        border: 1px solid #b3b3b3;
        padding: 40px;
    }

    .check {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-bottom: 60px;

        @include m.tab {
            flex-direction: column;
        }

        .checkin,
        .checkout {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;


            label {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            input {
                border: 1px solid #b3b3b3;
                background-color: #f5f5f5;
                color: #333333;
                font-size: 18px;
                width: 100%;
                height: 48px;
                padding-inline: 10px;
                border-radius: 10px;
            }

        }
    }

    .select-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;

        label {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        select {
            border: 1px solid #b3b3b3;
            font-size: 18px;
            border-radius: 10px;
            height: 48px;
            background-color: #f5f5f5;
            padding-inline: 10px;
            font-weight: bold;
        }

    }

    .name,
    .mail,
    .phonenumber {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;

        label {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        input {
            border: 1px solid #b3b3b3;
            background-color: #f5f5f5;
            color: #333333;
            font-size: 18px;
            width: 100%;
            height: 48px;
            border-radius: 10px;
            padding-left: 10px;
        }
    }

    .remarks {
        display: flex;
        flex-direction: column;
        margin-bottom: 60px;

        label {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        textarea {
            border: 1px solid #b3b3b3;
            background-color: #f5f5f5;
            color: #333333;
            font-size: 18px;
            width: 100%;
            height: 150px;
            border-radius: 10px;
        }
    }

    .submit-wrapper {
        text-align: center;

        input {
            margin-bottom: 60px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: #CBBFAD;
            font-family: sans-serif;
            color: #faf8f4;
            font-weight: bold;
            border-radius: 100px;
            width: 240px;
            height: 60px;
            transition: all 0.5s;

            box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
        }

        input:hover {
            transform: scale(1.1);
            transition-duration: 0.8s;
        }
    }
}

select option[disabled] {
    color: #b3b3b3;
}

select option {
    color: #333;
}

select:invalid {
    color: #b3b3b3;
}