@use 'mixin' as m;
@use 'common';
@use 'header';
@use 'footer';
@use 'reservation';
@use 'home-sharing';
@use 'blog';


.to-top {
    width: 60px;
    height: 60px;
    background-color: #8DA675;
    border: solid 1px #faf8f4;
    border-radius: 50%;
    position: fixed;
    right: 40px;
    bottom: 40px;
    transition: all 0.8s;
    z-index: 10;

    &::after {
        content: "";
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #faf8f4;
        position: relative;
        left: 21px;
        bottom: 1px;
    }

    &:hover {
        transform: scale(1.1);
        opacity: 0.7;
        transition-duration: 0.8s;

    }
}

.mainvisual {
    background-image: url("../img/toppage.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    margin-bottom: 80px;

    &-text {
        position: absolute;
        top: 220px;
        font-size: 24px;
        color: #faf8f4;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        @include m.tab {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.concepts {
    text-align: center;

    h2 {
        font-size: 24px;
        line-height: 36px;
        color: #3B4C55;
        padding-bottom: 80px;
        border-bottom: 1px solid #DDD6C8;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    }
}

.toppage-blog {
    margin-bottom: 40px;

    .container {

        border-bottom: 1px solid #DDD6C8;
    }

    h3 {
        padding-block: 80px;
        color: #4a3c2b;
        font-weight: bold;
        font-size: 32px;

        @include m.tab {
            padding-inline: 20px;
        }
    }

    .blog-lists {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px;
        margin-bottom: 40px;

        @include m.tab {
            display: grid; // gridに統一したほうが良い
            grid-template-columns: repeat(1, 3fr);
            padding-inline: 20px;
        }

        h4 {
            color: #333333;
            text-align: center;
            font-size: 16px;
        }

        .blog-contents {

            @include m.tab {
                text-align: center;
            }

            a {

                transition: all 0.8s;
            }

            a:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition-duration: 0.8s;
            }

            img {
                padding-bottom: 48px;
                margin-bottom: 20px;
                border-bottom: 1px solid #DDD6C8;
            }
        }
    }

    .blog-jump {
        text-align: center;
        margin-bottom: 40px;

        p {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: #CBBFAD;
            font-family: sans-serif;
            color: #faf8f4;
            font-weight: bold;
            border-radius: 10px;
            width: 120px;
            height: 40px;
            transition: all 0.5s;
            box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);

        }

        p:hover {
            transform: scale(1.1);
            transition-duration: 0.8s;
        }

    }

    .mask-detail-blog {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
}

.blog-open .blog-close {
    display: none;
}

.blog-open .mask-detail-blog {
    transition: all 0.3s ease;
    opacity: 1.0;
    visibility: visible;
    height: auto;
}

.second-wrapper {
    max-width: 860px;
    margin-inline: auto;
}

.rooms-introduction {
    margin-bottom: 80px;

    h3 {
        padding-bottom: 80px;
        color: #4a3c2b;
        font-weight: bold;
        font-size: 32px;
    }

    .rooms-right {
        @include m.tab {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }

    .rooms-left {
        @include m.tab {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .rooms-left,
    .rooms-right {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: 60px;

        img {
            width: 400px;
            height: 300px;
        }

        .room-contents {
            width: 100%;

            @include m.tab {
                text-align: center;
            }

            h4 {
                font-size: 24px;
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                margin-bottom: 80px;
                line-height: 24px;

                @include m.tab {
                    margin-bottom: 40px;
                }
            }

            .read-more {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                gap: 8px;
                color: #faf8f4;
                font-weight: bold;
                position: relative;
                transition: all 0.5s;
                background-color: #CBBFAD;
                width: 160px;
                height: 50px;
                border-radius: 10px;
                font-family: sans-serif;
            }

            .read-more::after {
                content: "";
                width: 10px;
                height: 10px;
                border-right: 2px solid #faf8f4;
                border-bottom: 2px solid #faf8f4;
                transform: rotate(-45deg);

            }

            .read-more:hover {
                transform: scale(1.1);
                transition-duration: 0.8s;
            }
        }

    }
}



.access {
    margin-bottom: 40px;

    h3 {
        margin-bottom: 40px;
        color: #4a3c2b;
        font-weight: bold;
        font-size: 32px;
    }

    iframe {
        width: 100%;
        margin-bottom: 40px;
    }

    .access-contents {
        padding: 40px;
        background-color: #F2EEE8;
        border-radius: 10px;

        p {
            margin-bottom: 10px;
            font-size: 16px;
            color: #333333;
        }

        h4 {
            font-size: 20px;
            color: #4A3C2B;
            margin-bottom: 10px;
            font-weight: bold;
        }
    }
}

// ハンバーガー


// // video
// .video {
//     margin-bottom: 70px;

//     .bg-video {
//         margin-top: 100px;
//         object-fit: cover;
//         object-position: center center;
//         width: 100%;
//         height: 100vh;
//     }
// }

// .section-title {
//     text-align: center;
//     font-size: 2.0rem;
//     margin-bottom: 50px;
// }

// .pickup {
//     .slide-items {
//         width: 100%;
//         height: 100%;
//         display: flex;
//         margin-bottom: 70px;

//         li {
//             height: auto;
//             padding: 0 15px;
//         }

//         img {

//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//         }
//     }
// }

// .feature {
//     padding-inline: 80px;
//     margin-bottom: 50px;

//     @include m.tab {
//         padding-inline: 20px;
//     }

//     &-contents {
//         display: grid;
//         grid-template-columns: 1fr 1fr 1fr;
//         gap: 40px;

//         @include m.tab {
//             grid-template-columns: 1fr 1fr;
//         }

//         @include m.sp1 {
//             grid-template-columns: 1fr;
//         }

//         li {
//             opacity: 0;
//             transform: translateY(40px);
//             box-shadow: 0px 0px 5px 5px rgba(17, 17, 26, 0.20);
//             transition: all 0.8s ease;
//         }

//         .under-image {
//             padding-inline: 30px;


//             .category,
//             .img-texts,
//             .date {
//                 padding-block: 20px;
//             }

//             .img-texts {
//                 font-weight: bold;
//             }

//             .date {
//                 text-align: right;
//             }


//         }
//     }
// }

// footer {
//     background-color: #121212;
//     color: #fff;
//     text-align: center;
//     padding-inline: 80px;
//     padding-bottom: 10px;

//     @include m.tab {
//         padding-inline: 20px;
//     }


//     .section-title {
//         padding-top: 50px;
//     }

//     small {
//         margin-bottom: 30px;
//     }

//     .footer-contents {
//         display: flex;
//         justify-content: center;
//         gap: 80px;
//         margin-bottom: 30px;

//         @include m.sp2 {
//             flex-direction: column;
//             gap: 40px;
//         }

//         .footer-texts {
//             width: 100%;
//             text-align: left;

//             @include m.sp2 {
//                 width: 100%;
//             }

//             p {
//                 padding-bottom: 30px;
//             }
//         }

//         .contact-form {
//             text-align: left;
//             width: 100%;

//             @include m.sp2 {
//                 width: 100%;
//             }

//             label {
//                 display: block;
//                 margin-bottom: 5px;
//             }

//             input,
//             textarea {
//                 width: 100%;
//                 padding: 10px;
//                 border: none;
//                 background-color: #fff;
//                 font-size: 14px;
//             }

//             button {
//                 width: 200px;
//                 height: 50px;
//                 border: 1px solid #fff;
//                 color: #fff;
//                 margin-top: 20px;

//                 @include m.sp2 {
//                     width: 100%;
//                 }

//                 &:hover {
//                     background-color: #fff;
//                     color: #121212;
//                 }
//             }

//         }
//     }
// }